<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./css/style-about.css">

    <title>K Mitchell Media - About Us</title>
  </head>
  <body>

  <header>
    <div class="container-fluid container-header responsive-img">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img class="logo-item body-item" src="./images/k3-light-resized.png" href="./index.html"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVIGATION -->
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="active nav-link text-white" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/services">Services and Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- HERO CONTENT -->
      <div class="row">
        <div class="col-12 header-title-container text-white">
          <h1 class="header-title display-4">About</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 header-text-container">
          <p class="header-text lead">
            KMM creates films that empower voices,<br/> raise consciousness, and make money.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 btn-hero-container">
            <a class="btn btn-primary btn-lg btn-hero-item" role="button" href="./contact.html">Contact Us</a>
        </div>
      </div>
    </div>
  </header>

  <!-- MAIN CONTENT -->
    <section class="about-kathryn-section">

    <section class="kmm-kathryn">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Meet Kathryn</h1>
        <p class="lead mb-5">
          Director/Producer, and Founder of K Mitchell Media, LLC
        </p>
      </div>

      <div class="container kmm-kathryn-details">
      <div class="card border-light mb-3">

          <div class="row">
            <div class="col-12 col-md-7 d-flex about-katheryn-text lead">
              <p class="card-text">
                Kathryn Mitchell, Director/Producer and owner of K Mitchell Media, approaches her career with enthusiasm and versatility. Her resourcefulness and determination have led her to a variety of professional and advocacy opportunities. She has designed promotional materials, created and maintained multiple social media communications, and both produced and stared in educational and narrative documentaries.
              </p>
              <p>Her credentials include:</p>
              <ul>
                <li>25 year veteran in education and advocacy</li>
                <li>30 plus years of volunteer work</li>
                <li>Lifetime storyteller and performance experience</li>
              </ul>
              <p>
                Living in Dublin, Ireland and Cuernavaca, Mexico have enriched Kathryn’s talent for storytelling. Her 25 plus years in the classroom have honed her empathy, sense of humor, and timing.
              </p>
            </div>

            <div class="col-12 col-md-4 offset-md-1 kathryn-image-container">
              <img class="kathryn-bwImg-about img-fluid" src="./images/kmitchell-about-bw-img.jpg" />
            </div>

          </div>
          <hr class="mb-5" />
          <div class="container-fluid">
            <div class="row d-flex kathryn-video-section mb-5">
              <div class="col-12 embed-responsive embed-responsive-16by9 float-left kathryn-video">
                <iframe
                  class="embed-responsive-item"
                  src="https://player.vimeo.com/video/229500231?title=0&byline=0&portrait=0"
                  frameborder="2"
                  webkitallowfullscreen
                  mozallowfullscreen
                  allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
    </section>

    <section class="the-crew">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">The Crew</h1>
        <p class="lead">
          Sometimes it does take a village. Let's meet some of our team!
        </p>
      </div>
    </section>

    <section>
      <div class="album py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./images/crew/KMMllc CREW Randall.jpg" alt="">
                <div class="card-body">
                  <h4 class="text-muted">Randall Bohl</h4>
                  <h5 class="text-muted">Photographer / Cinematographer</h5>
                  <p class="card-text">Randall has a BS in Communications from Western Michigan University. His photography business, started in San Francisco, has been going strong for over 25 years!</p>
                </div>

              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./images/crew/KMMllc CREW Terry.jpg" alt="">
                <div class="card-body">
                  <h4 class="text-muted">Terry Keel</h4>
                  <h5 class="text-muted">Director / Cinematographer</h5>
                  <p class="card-text">Terry opened his photography studio in Glendale, Arizona in 1980. With a degree in fine art photography and decades of experience in photography, cinematography, and sound editing, Keel is the expert for all things video. He is the proud owner of Tiki Films USA, LLC.</p>
                </div>
    
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./images/crew/KMMllc CREW Angela.jpg" alt="">
                <div class="card-body">
                  <h4 class="text-muted">Angela Scott</h4>
                  <h5 class="text-muted">Cinematographer</h5>
                  <p class="card-text">Angela has a BS in Communications from Northern Arizona University. She has spent over 5 years reporting, editing, and producing shows for cable networks and TV.</p>
                </div>

              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./images/crew/KMMllc CREW Akanksha.jpg" alt="">
                <div class="card-body">
                  <h4 class="text-muted">Akanksha Misha</h4>
                  <h5 class="text-muted">Paid Internship - Research / Google Suite / Graphic Design</h5>
                  <p class="card-text">Akanksha is our company’s virtual assistant. She is also in the process of establishing a more efficient Research and Development Department. Still in college, she is pursuing a degree in Neuroscience and Poverty Studies at Baylor University. </p>
                </div>

              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./images/crew/KMMllc CREW Zoe.jpg" alt="">
                <div class="card-body">
                  <h4 class="text-muted">Zoe-Yiyaluo Haung</h4>
                  <h5 class="text-muted">News Anchor / Producer / Director / Cinematographer</h5>
                  <p class="card-text">Zoe earned her Bachelor's  Degree in Film Art and direction in China. She has many years experience as news anchor and documentary filmmaker.</p>
                </div>

              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="./images/crew/KMMllc CREW Trevor.jpg" alt="">
                <div class="card-body">
                  <h4 class="text-muted">Trevor Denton</h4>
                  <h5 class="text-muted">Animation / Script Writing</h5>
                  <p class="card-text">Arizona State University, Bachelor's Degree in English, over 15 years experience in professional content development. Creative writer and digital media project director specializing in educational publishing and content development. Develops creative solutions with subject matter experts from any field to drive mission-focused communications.</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

  <!--Footer-->
  <footer class="footer">

      <!--Footer Links-->
      <div class="container-fluid container-footer">
          <div class="row d-flex footer-style pt-3 pl-5 pr-5">
              <div class="col-12 col-sm-6 col-md-6">
                <div class="row">
                  <h5 class="title">Virtue. Vision. Voice</h5>
                </div>
                <div class="row">
                  Give us your vision
                </div>
                <div class="row">
                  We collaborate
                </div>
                <div class="row">
                  We make it beautiful
                </div>
                <div class="row social-media mt-4 mb-3">
                  <a class="facebook" href="http://www.facebook.com/kmitchellmediallc"><i class="fa fa-facebook fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="twitter" href="http://www.twitter.com/kmitchellmedia"><i class="fa fa-twitter fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="vimeo" href="http://www.vimeo.com/kmitchellmediallc"><i class="fa fa-vimeo fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="instagram" href="http://www.instagram.com/kmitchellmedia"><i class="fa fa-instagram fa-2x mr-3" aria-hidden="true"></i></a>
                </div>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Menu</h5>
                  <p>
                      <a href="/home">Home</a><br />
                      <a href="/about">About</a><br />
                      <a href="/portfolio">Portfolio</a><br />
                      <a href="/services">Services</a><br />
                      <a href="/faq">FAQ's</a><br />
                      <a href="/contact">Contact</a>
                  </p>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Contact</h5>
                  <p>
                      Kathryn Mitchell <br />
                      P.O. Box 10355 <br />
                      Phoenix, AZ 85064 <br />
                      (520) 261-2746
                  </p>
              </div>
          </div>
      </div>

      <div class="footer-legalline">
          <div class="container-fluid text-center py-3">
              © 2018 K Mitchell Media, LLC | All Rights Reserved
          </div>
      </div>
  </footer>
  <!--/.Footer-->
</html>
