<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./css/style-contact.css">

    <title>K Mitchell Media - Contact Us</title>
  </head>

  <header>
    <div class="container-fluid container-header">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img class="logo-item body-item" src="./images/k3-light-resized.png" href="./index.html"/>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarColor03"
          aria-controls="navbarColor03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/services">Services and Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="active nav-link text-white" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-6 header-title-container text-white">
          <h1 class="header-title display-4">Contact</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-4 header-text-container">
          <p class="header-text lead">
            Whether you're an existing or potential client, your questions are important to us. Send us a message and someone from our team will respond as soon as possible.
          </p>
        </div>
      </div>
    </div>
  </header>

  <body>
    <section class="container container-faq">
      <div class="faq-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Let's Talk!</h1>
        <p class="lead">
          If you need immediate attention, please don't hesitate to give us a call: <br />
          (520) 261-2746
        </p>
      </div>
    </section>

    <section class="container contact-form">
        <form method="POST" action="/message">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Name</label>
              <input
                id="inputName"
                class="form-control"
                type=""ype="text"
                name="name"
                placeholder="enter full name"
              >
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Company</label>
              <input
                id="inputCompany"
                class="form-control"
                type="text"
                name="company"
                placeholder="enter company name"
              >
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input
                id="inputEmail"
                class="form-control"
                type="email"
                name="email"
                placeholder="enter valid email (i.e. email@domain.com)"
              >
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Website</label>
              <input
                id="inputWebsite"
                class="form-control"
                type="text"
                name="website"
                placeholder="enter website (i.e. www.domain.com)"
              >
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputContactNumber">Contact Number</label>
              <input
                id="inputContactNumber"
                class="form-control"
                type="text"
                name="phone"
                placeholder="enter primary contact number"
              >
            </div>
            <div class="container-radioBtns col-md-6">
              <div class="form-check form-check-inline">
                <input
                  id="newClient"
                  class="form-check-input"
                  type="radio"
                  name="client_status"
                  value="New Client"
                >
                <label class="form-check-label" for="newClient">New Client</label>
              </div>

              <div class="form-check form-check-inline">
                <input
                  id="existingClient"
                  class="form-check-input"
                  type="radio"
                  name="client_status"
                  value="Existing Client"
                >
                <label class="form-check-label" for="existingClient">Existing Client</label>
              </div>
            </div>

          </div>
          <div class="form-group">
            <label for="textareaMessage">Message</label>
            <textarea
              class="form-control"
              id="textareaMessage"
              rows="3"
                name="message"

              placeholder="Tell us what's on your mind..."

            ></textarea>
          </div>
          <button type="submit" class="btn btn-form-submit">Submit</button>
        </form>
    </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

  <footer class="footer">

      <!--Footer Links-->
      <div class="container-fluid container-footer">
          <div class="row d-flex footer-style pt-3 pl-5 pr-5">
              <div class="col-12 col-sm-6 col-md-6">
                <div class="row">
                  <h5 class="title">Virtue. Vision. Voice</h5>
                </div>
                <div class="row">
                  Give us your vision
                </div>
                <div class="row">
                  We collaborate
                </div>
                <div class="row">
                  We make it beautiful
                </div>
                <div class="row social-media mt-4 mb-3">
                  <a class="facebook" href="http://www.facebook.com/kmitchellmediallc"><i class="fa fa-facebook fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="twitter" href="http://www.twitter.com/kmitchellmedia"><i class="fa fa-twitter fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="vimeo" href="http://www.vimeo.com/kmitchellmediallc"><i class="fa fa-vimeo fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="instagram" href="http://www.instagram.com/kmitchellmedia"><i class="fa fa-instagram fa-2x mr-3" aria-hidden="true"></i></a>
                </div>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Menu</h5>
                  <p>
                      <a href="/home">Home</a><br />
                      <a href="/about">About</a><br />
                      <a href="/portfolio">Portfolio</a><br />
                      <a href="/services">Services</a><br />
                      <a href="/faq">FAQ's</a><br />
                      <a href="/contact">Contact</a>
                  </p>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Contact</h5>
                  <p>
                      Kathryn Mitchell <br />
                      P.O. Box 10355 <br />
                      Phoenix, AZ 85064 <br />
                      (520) 261-2746
                  </p>
              </div>
          </div>
      </div>

      <div class="footer-legalline">
          <div class="container-fluid text-center py-3">
              © 2018 K Mitchell Media, LLC | All Rights Reserved
          </div>
      </div>
  </footer>

</html>
