<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./css/style-faq.css">

    <title>K Mitchell Media - FAQ</title>
  </head>
  <body>

  <header>
    <div class="container-fluid container-header">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img class="logo-item body-item" src="./images/k3-light-resized.png" href="./index.html"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVIGATION -->
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/services">Services and Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="active nav-link text-white" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- HERO CONTENT -->
      <div class="row">
        <div class="col-6 header-title-container text-white">
          <h1 class="header-title display-4">FAQ's</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-5 header-text-container">
          <p class="header-text lead">
            There's no such thing as a dumb question.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col btn-hero-container">
            <a class="btn btn-primary btn-lg btn-hero-item" role="button" href="./contact.html">Contact Us</a>
        </div>
      </div>
    </div>
  </header>

  <!-- MAIN CONTENT -->
  <body>
  <section class="container-fluid container-faq">
    <div class="faq-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Frequently Asked Questions</h1>
      <p class="lead">
        There's a good chance we already have the answer you're looking for. <br />
        If you still have questions, send us a message. We look forward to hearing from you.
      </p>
        <!-- <a class="btn btn-primary btn-lg btn-hero-item" role="button" href="./contact.html"><i class="fa fa-paper-plane-o send-msg-icon" aria-hidden="true"></i>Send Message</a> -->
    </div>
    <!-- FAQ LIST - ACCORDIAN -->
    <div class="row">
      <div id="accordion" class="col-8 offset-2">
        <div id="faq-1" class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn faq-btn-style" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                What is the value of video?
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <h6>
                Oh my gosh, let me tell you!! Actually I'm going to let Forbes tell you. Check out the stats below!
              </h6>
              <ul>
                <li>Video is projected to claim more than 80% of all web traffic by 2019.</li>
                <li>Adding a video to marketing emails can boost click-through rates by 200-300%.</li>
                <li>Embedding videos in landing pages can increase conversion rates by 80%.</li>
                <li>90% of customers report that product videos help them make purchasing decisions.</li>
                <li>According to YouTube, mobile video consumption grows by 100% every year.</li>
                <li>64% of customers are more likely to buy a product online after watching a video about it.</li>
                <li>87% of online marketers are currently using video content in their digital marketing strategies</li>
                <li>A third of all the time people spend online is dedicated to watching videos.</li>
                <li>Video ads now account for more than 35% of all ad spending on</li>
                <li>59% of company decision makers would rather watch a video than read an article or blog po</li>
                <li>Digital marketing expert James McQuivey estimates that a single minute of video content is the equivalent of 1.8 million words.</li>
              </ul>
              <a target="_blank" href="https://www.forbes.com/sites/forbesagencycouncil/2017/02/03/video-marketing-the-future-of-content-marketing/#5f3800d96b53">Forbes article</a>
            </div>
          </div>
        </div>
        <div id="faq-2" class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn faq-btn-style collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What if I don't have a story?
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <h6>Everybody has a story and we work with you to help you find it and tell it!
              </h6>
              <div class="row embed-responsive embed-responsive-16by9">
                <iframe
                  class="embed-responsive-item"
                  src="https://player.vimeo.com/video/229499939?title=0&byline=0&portrait=0"
                  frameborder="2"
                  webkitallowfullscreen
                  mozallowfullscreen
                  allowfullscreen>
                </iframe>
              </div>
            </div>
          </div>
        </div>
        <div id="faq-3" class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn faq-btn-style collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Why is there music in the video?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Music takes an already moving moment and takes it deeper. In general rhythm, cadence and dynamics help to move the whole project along, but more specifically it can add impact to key elements of someone’s story.
            </div>
          </div>
        </div>
        <div id="faq-4" class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn faq-btn-style collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Why do I need an About Me video?
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <h6>
                Because video allows you to control the narrative!
              </h6>
              <p>
                This is about you or your company being able to tell YOUR story. In a time where so much communication lacks that personal touch, the <em>right</em> About Me / About Us video gives your audience the best opportunity to get to know you or your company.
              </p>
              <p>
                Still unsure of the value of video? Read more about why video is an essential part of your communication strategy.
              </p>
              <h3>Insert Video</h3>
            </div>
          </div>
        </div>
        <div id="faq-5" class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn faq-btn-style collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                What it is like to work with Kathryn and the K Mitchell Media team?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              <h6>
                It's a pretty awesome experience... but don't take out word for it. See what others have to say about their experience with K Mitchell Media.
              </h6>
            </div>
          </div>
        </div>
        <div id="faq-6" class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn faq-btn-style collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                Why does it cost what it does?
              </button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              <h6>
                You'd be surprised at how much goes into producing and delivering both a high-quality and effective video production.
              </h6>
              <p>
                At a glance, it's easy to get sticker shock over the price. But did you know that it will actually cost you more in the long run if your message is unclear, or even worse, different from what you intended?
              </p>
            </div>
          </div>
        </div>
        <div id="faq-7" class="card">
          <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
              <button class="btn faq-btn-style collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                What if I don't want a package?
              </button>
            </h5>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
              <p>
                No problem. We are all about helping to bring your vision to life. Ala carte items are available and to us, what’s most important is meeting, talking and finding out what you need.
              </p>
            </div>
          </div>
        </div>
        <div id="faq-8" class="card">
          <div class="card-header" id="headingEight">
            <h5 class="mb-0">
              <button class="btn faq-btn-style collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                Will I own the video once you're done?
              </button>
            </h5>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
              <h6>
                Great question!
              </h6>
              <p>
                The video is actually licensed. At the time of hiring K Mitchell Media, you are hiring us to create impactful and authentic content for your marketing or business and with that comes a license to use the video how you ultimately need to. The ownership does remain in the hands of K Mitchell Media as we handle the hosting for your, report on stats as to who is watching, from where, when and how often.
              </p>
            </div>
          </div>
        </div>
        <div id="faq-9" class="card">
          <div class="card-header" id="headingNine">
            <h5 class="mb-0">
              <button class="btn faq-btn-style collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                I have a video... now what?
              </button>
            </h5>
          </div>
          <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
              <h6>
                We are here to help you with this step by step. Now it’s time to deploy your video and effectively drive traffic from social platforms to your site for the ultimate engagement and call to action.
              </h6>
              <h1>Insert video</h1>
            </div>
          </div>
        </div>
        <div id="faq-10" class="card">
          <div class="card-header" id="headingTen">
            <h5 class="mb-0">
              <button class="btn faq-btn-style collapsed" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                Do I really need a video or are there other ways to get my message out there?
              </button>
            </h5>
          </div>
          <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
            <div class="card-body">
              <p>
                Getting your message heard above the "clutter" isn't an easy task these days. And it's only getting harder as more and more content floods our everyday lives.
              </p>
              <p>
                To add to that, more people are consuming video content over any other form of media, and for good reason. There is no better way to communicate your message, and it's what people have come to expect.  Whether you're a doctor, an artist, real estate agent, politician, an entreprenuer, etc... Video is the newest and most effective way to communicate.
              </p>
            </div>
          </div>
        </div>
        <div id="faq-11" class="card">
          <div class="card-header" id="headingEleven">
            <h5 class="mb-0">
              <button class="btn faq-btn-style collapsed" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                What steps are involved with the production of my video?
              </button>
            </h5>
          </div>
          <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
            <div class="card-body">
              <h6>
                Here's are a few high-level bullets related to our process:
              </h6>
              <h4>Consultation</h4>
                <ul>
                  <li>Design Brief 30 – 45 minutes</li>
                  <li>Contract Signing with Proposal and ½ fee payment</li>
                </ul>
              <h4>Pre-Production</h4>
                <ul>
                  <li>Film location licensing if needed</li>
                  <li>Survey & Story Boarding</li>
                  <li>Approval of Design Brief Proposal</li>
                </ul>
              <h4>Production</h4>
                <ul>
                  <li>Filming – allowable 10 hour day</li>
                  <li>B-Roll – allowable # location</li>
                  <li>Story Boarding - Round 2</li>
                </ul>
              <h4>Post-Production</h4>
                <ul>
                  <li>Rough Cut allowed 5 days after filming is complete</li>
                  <li>Final Cut allowed 5 days after received feedback from Rough Cut</li>
                  <li>Closed Captioning – allowed 5 days</li>
                </ul>
              <h4>Publication</h4>
                <ul>
                  <li>Final cut with suggestions for optimal sharin</li>
                  <li>Feedback on film and proces</li>
                  <li>Final ½ payment</li>
                </ul>

                <h6>
                  Here's a quick video on our process! (See, we practive what we preach!)
                </h6>
                <h1>Insert Video</h1>
            </div>
          </div>
        </div>
        <div id="faq-12" class="card">
          <div class="card-header" id="headingTwelve">
            <h5 class="mb-0">
              <button class="btn faq-btn-style collapsed" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                What exactly is B-Roll footage?
              </button>
            </h5>
          </div>
          <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
            <div class="card-body">
              <p>
                B-Roll footage is film from the field that visually shows what’s being narrated in an interview setting. Sometimes with it’s own audio and sometimes without.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

  <!--Footer-->
  <footer class="footer">

      <!--Footer Links-->
      <div class="container-fluid container-footer">
          <div class="row d-flex footer-style pt-3 pl-5 pr-5">
              <div class="col-12 col-sm-6 col-md-6">
                <div class="row">
                  <h5 class="title">Virtue. Vision. Voice</h5>
                </div>
                <div class="row">
                  Give us your vision
                </div>
                <div class="row">
                  We collaborate
                </div>
                <div class="row">
                  We make it beautiful
                </div>
                <div class="row social-media mt-4 mb-3">
                  <a class="facebook" href="http://www.facebook.com/kmitchellmediallc"><i class="fa fa-facebook fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="twitter" href="http://www.twitter.com/kmitchellmedia"><i class="fa fa-twitter fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="vimeo" href="http://www.vimeo.com/kmitchellmediallc"><i class="fa fa-vimeo fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="instagram" href="http://www.instagram.com/kmitchellmedia"><i class="fa fa-instagram fa-2x mr-3" aria-hidden="true"></i></a>
                </div>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Menu</h5>
                  <p>
                      <a href="/home">Home</a><br />
                      <a href="/about">About</a><br />
                      <a href="/portfolio">Portfolio</a><br />
                      <a href="/services">Services</a><br />
                      <a href="/faq">FAQ's</a><br />
                      <a href="/contact">Contact</a>
                  </p>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Contact</h5>
                  <p>
                      Kathryn Mitchell <br />
                      P.O. Box 10355 <br />
                      Phoenix, AZ 85064 <br />
                      (520) 261-2746
                  </p>
              </div>
          </div>
      </div>

      <div class="footer-legalline">
          <div class="container-fluid text-center py-3">
              © 2018 K Mitchell Media, LLC | All Rights Reserved
          </div>
      </div>
  </footer>

</html>
