<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <!-- Font Awesome Pro -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./css/style-home.css">

    <title>K Mitchell Media - Home</title>
  </head>

  <header>
    <div class="container-fluid container-header responsive-img">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img class="logo-item body-item" src="./images/k3-light-resized.png" href="./index.html"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVIGATION -->
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="active nav-link text-white" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/services">Services and Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="./contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- HERO CONTENT -->
      <div class="row">
        <div class="col-12 col-sm-8 col-md-4 header-title-container">
          <h1 class="display-4 header-title text-white">KMM</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-8 col-md-4 header-text-container">
          <p class="lead text-white">
            Where the art of video production and storytelling comes together.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 btn-hero-container">
            <a class="btn btn-primary btn-lg btn-hero-item" role="button" href="./contact.html">Contact Us</a>
        </div>
      </div>
    </div>
  </header>

  <!-- MAIN CONTENT -->
  <body>
    <section class="company-description-section">
      <div class="container">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
          <h1 class="display-4">Video Production and Editing</h1>
          <p class="lead">
            You have a story and we help you tell it.
          </p>
        </div>
      </div>

      <div class="container">
        <div class="row company-desc-container">
          <div class="col-12 col-lg-5 d-flex company-description-text">
            <h3>K Mitchell Media, LLC</h3>
            <p class="lead card-text align-self-start" style="margin-top: 15px;">
              K Mitchell Media is a Phoenix-based boutique video production company focused on helping both businesses and individuals share their unique message in powerful ways through the skillful art of video production and cinematic storytelling.
            </p>
            <p class="lead">
              Watch Kathryn describe in her own words what K Mitchell Media is all about.
            </p>
          </div>
          <div class="col-12 col-lg-6 offset-lg-1 d-flex embed-responsive embed-responsive-16by9 intro-video">
            <iframe
              class="embed-responsive-item ml-md-3 ml-sm-3"
              src="https://player.vimeo.com/video/229499939?title=0&byline=0&portrait=0"
              frameborder="2"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </section>

    <section class="company-philosophy">
      <div class="container">
        <div class="row vvv-background d-flex justify-content-around">
          <div class="row d-flex justify-content-center">
            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
              <h1 class="display-4">Our Philosophy</h1>
              <p class="lead">
                  Sharing authentic stories builds relationships.
              </p>
              <p class="lead">
                  KMM, making the world a better place with YOUR voice.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="card-group col-12 col-md-6 col-lg-4">
              <div class="card card-style">
                <div class="card-body mb-3">
                  <h5 class="card-title display-5"><i aria-hidden="true">
                    <img class="card-img-top" src="./images/home/virtue.png" alt="" style="max-height: 40px; max-width: 40px;">
                  </i>
                    Virtue
                  </h5>
                  <p class="card-text">Humans are multifaceted creatures. We use original documents, testimonies from reliable sources and footage from the field to give layers of integrity and perspectives to your story.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>

            <div class="card-group col-12 col-md-6 col-lg-4">
              <div class="card card-style">
                <div class="card-body mb-3">
                  <h5 class="card-title display-5"><i aria-hidden="true">
                    <img src="./images/home/virtue.png" style="max-height: 40px; max-width: 40px;">
                  </i>
                    Vision
                  </h5>
                  <p class="card-text">No matter how vivid and seemingly impactful, a vision must be understood to be useful. We help contextualize and clarify your vision.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>

            <div class="card-group col-12 col-md-6 col-lg-4">
              <div class="card card-style">
                <div class="card-body mb-3">
                  <h5 class="card-title display-5"><i aria-hidden="true">
                    <img src="./images/home/voice.png" style="max-height: 40px; max-width: 40px;">
                  </i>
                    Voice
                  </h5>
                  <p class="card-text">When a person, cause, or campaign controls the narrative of a story with their OWN words, they are ready to empower their message with an audience. We help empower YOUR voice.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="approach-process">
      <div class="container">
        <div class="row d-flex justify-content-around">
          <div class="card-group col-12 col-md-6">
            <div class="card approach-process mb-5">
              <div class="card-header text-center">
                <h4>
                  <i aria-hidden="true">
                    <img src="./images/home/approach 1.png" style="max-height: 50px; max-width: 50px;">
                  </i>Our Approach
                </h4>
              </div>
              <div class="card-body">

                <img class="float-left" src="./images/home/approach 2.png" style="height: 200px; width: 275px; padding-right: 15px;"/>

                <p class="card-text">
                    Give us your story. We will create beautiful and impactful films to celebrate it. Through the art of cinematic storytelling, KMMllc reels in the audience through the storyline of YOUR career, cause, or experience to provoke engagement. The sincerity of YOU in the film fosters a comfort and familiarity in the audience, encouraging them to get to know you better.
                </p>

                <p class="card-text">
                    Our approach is both consultative and collaborative. Through the identification and refinement of your videography goal(s), we will uncover and fully develop your message, so you can tell your story in a truthful and compelling way.
                </p>

              </div>
            </div>
          </div>

          <div class="card-group col-12 col-md-6">
            <div class="card mb-5">
              <div class="card-header text-center">
                <h4>Our Process</h4>
              </div>
              <div class="card-body">
                <h5 id="process-subtitle" class="lead card-title text-center">
                  There are 5 main parts to our process:
                </h5>
                <ul class="list-unstyled">
                  <li class="process-li">
                    <h5><i class="fa fa-check-square-o" aria-hidden="true"></i>Consultation</h5>
                    <p>
                      The goals and budget are given a framework. Concepts from a mission statement, true stories, or original ideas are explored and developed to create a viable theme, synopsis a storyboard.
                    </p>
                    <hr />
                  </li>

                  <li>
                    <h5><i class="fa fa-check-square-o" aria-hidden="true"></i>Pre-Production</h5>
                    <p>
                      The production plans and designs are made for filming including: revising storyboard, prepare sets, props, wardrobe, equipment, music, talent, location, cinema/photographer, etc.
                    </p>
                    <hr />
                  </li>

                  <li>
                    <h5><i class="fa fa-check-square-o" aria-hidden="true"></i>Production</h5>
                    <p>
                      The shooting the video with props, lighting, sound and clients being put in their wardrobe, hair and makeup. All the clips shot in a day are processed roughly and it is then viewed by the director and select members of the crew.
                    </p>
                    <hr />
                  </li>

                  <li>
                    <h5><i class="fa fa-check-square-o" aria-hidden="true"></i>Post-Production</h5>
                    <p>
                      In the editing phase of Post-Production, clients can expect a rough cut, a content cut and a final cut with closed captioning.
                    </p>
                    <hr />
                  </li>

                  <li>
                    <h5><i class="fa fa-check-square-o" aria-hidden="true"></i>Distribution & Premier</h5>
                    <p>
                      The film is released into the client’s possession with a premeire. It also involves examples of possible promotion via social media.
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>


  <footer class="footer">

      <!--Footer Links-->
      <div class="container-fluid container-footer">
          <div class="row d-flex footer-style pt-3 pl-5 pr-5">
              <div class="col-12 col-sm-6 col-md-6">
                <div class="row">
                  <h5 class="title">Virtue. Vision. Voice</h5>
                </div>
                <div class="row">
                  Give us your vision
                </div>
                <div class="row">
                  We collaborate
                </div>
                <div class="row">
                  We make it beautiful
                </div>
                <div class="row social-media mt-4 mb-3">
                  <a class="facebook" href="http://www.facebook.com/kmitchellmediallc"><i class="fa fa-facebook fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="twitter" href="http://www.twitter.com/kmitchellmedia"><i class="fa fa-twitter fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="vimeo" href="http://www.vimeo.com/kmitchellmediallc"><i class="fa fa-vimeo fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="instagram" href="http://www.instagram.com/kmitchellmedia"><i class="fa fa-instagram fa-2x mr-3" aria-hidden="true"></i></a>
                </div>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Menu</h5>
                  <p>
                      <a href="/home">Home</a><br />
                      <a href="/about">About</a><br />
                      <a href="/portfolio">Portfolio</a><br />
                      <a href="/services">Services</a><br />
                      <a href="/faq">FAQ's</a><br />
                      <a href="/contact">Contact</a>
                  </p>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Contact</h5>
                  <p>
                      Kathryn Mitchell <br />
                      P.O. Box 10355 <br />
                      Phoenix, AZ 85064 <br />
                      (520) 261-2746
                  </p>
              </div>
          </div>
      </div>

      <div class="footer-legalline">
          <div class="container-fluid text-center py-3">
              © 2018 K Mitchell Media, LLC | All Rights Reserved
          </div>
      </div>
  </footer>
</html>
