<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./css/style-index.css">

    <title>K Mitchell Media - Landing</title>
  </head>


  <body>
    <div class="main-container container-fluid img-responsive">

      <div class="nav-container">
        <nav class="navbar-menu">
          <a class="navbar-item" href="/home">Home</a>
          <a class="navbar-item" href="/about">About</a>
          <a class="navbar-item" href="/portfolio">Portfolio</a>
          <a class="navbar-item" href="/services">Services</a>
          <a class="navbar-item" href="/faq">FAQ</a>
          <a class="navbar-item" href="/contact">Contact</a>
        </nav>
      </div>

      <div class="body-container">
        <div class="logo-container">
          <img class="logo-item body-item" src="images/k3-light-resized.png" />
        </div>
        <div class="header-container">
          <h1 class="header">Storytelling Through The Art of Cinematography</h1>
        </div>
        <div class="index-content-container">
          <p class="index-content">Focused on helping our clients share their unique message by increasing awareness and raising consciousness through the skillful art of video production and cinematic storytelling.</p>
        </div>
        <div class="view-reel-container">
          <a class="btn btn-light body-item btn-view-reel" href="/portfolio">Portfolio</a>
        </div>
      </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
