<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./css/style-services.css">

    <title>K Mitchell Media - Services</title>
  </head>

  <header>
    <div class="container-fluid container-header responsive-img">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img class="logo-item body-item" src="./images/k3-light-resized.png" href="./index.html"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- NAVIGATION -->
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="/home">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="active nav-link text-white" href="/services">Services and Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- HERO CONTENT -->
      <div class="row">
        <div class="col-12 header-title-container text-white">
          <h1 class="header-title display-4">Services and Testimonials</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 header-text-container">
          <p class="header-text lead">
            You share your story
          </p>
          <p class="header-text lead">
            We take care of the rest...
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 btn-hero-container">
            <a class="btn btn-primary btn-lg btn-hero-item" role="button" href="./contact.html">Contact Us</a>
        </div>
      </div>
    </div>
  </header>

  <body>
  <!-- MAIN CONTENT -->
  <section class="kmm-services">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Services</h1>
      <p class="lead">
        K Mitchell Media offers more than just video production. We deliver value! <br />
        Here are some of the benefits you get when you purchase one of our video production packages.
      </p>
    </div>
  </section>

  <section class="container services-details">
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card service-item flex-md-row box-shadow h-md-250">
          <i aria-hidden="true" style="margin: 20px 0 0 0;">
            <img src="./images/icons/branding.png" style="width: 60px; height: 50px;">
          </i>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">Branding</h3>
            <p class="card-text mb-auto">It's all about you, your message and how that is visually represented in your video, down to the logo you use and the colors we can incorporate in the frame.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card service-item flex-md-row box-shadow h-md-250">
          <i aria-hidden="true" style="margin: 20px 0 0 0;">
            <img src="./images/icons/strategy.png" style="width: 60px; height: 50px;">
          </i>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">Strategy</h3>
            <p class="card-text mb-auto">Closed Captioning increases your Search Engine Optimization making your message easier to find on the internet. Creating film is more than just creating content, it's delivering that content, choosing the timing of each release and monitoring its impact.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card service-item flex-md-row box-shadow h-md-250">
          <i aria-hidden="true" style="margin: 20px 0 0 0;">
            <img src="./images/icons/messaging.png" style="width: 60px; height: 50px;">
          </i>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">Messaging</h3>
            <p class="card-text mb-auto">The Creative Brief Goal & Objectives, are your message to the world, who you are, and what we should know. In addition, performance reports on your film are given every quarter.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card service-item flex-md-row box-shadow h-md-250">
          <i aria-hidden="true" style="margin: 20px 0 0 0;">
            <img src="./images/icons/storyboarding.png" style="width: 60px; height: 50px;">
          </i>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">Story Boarding</h3>
            <p class="card-text mb-auto">Story Boarding and integrating your priorities into a data hierarchy. What you say is important and so is how it's said, in what order and when it's released.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card service-item flex-md-row box-shadow h-md-250">
          <i aria-hidden="true" style="margin: 20px 0 0 0;">
            <img src="./images/icons/graphics and animation.png" style="width: 60px; height: 50px;">
          </i>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">Graphics & Animation</h3>
            <p class="card-text mb-auto">Each video includes some light graphics as to whom is showing in the video at the bottom left of the screen. Each client as their logo inserted or animated into the video.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card service-item flex-md-row box-shadow h-md-250">
          <i aria-hidden="true" style="margin: 20px 0 0 0;">
            <img src="./images/icons/intellectual property and licensing.png" style="width: 60px; height: 50px;">
          </i>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">Intellectual Property & Licensing</h3>
            <p class="card-text mb-auto">Intellectual Property Rights included with the Agreement for Media Services with film integrity protection, additionally.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card service-item flex-md-row box-shadow h-md-250">
          <i aria-hidden="true" style="margin: 20px 0 0 0;">
            <img src="./images/icons/privacy.png" style="width: 60px; height: 50px;">
          </i>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">Privacy</h3>
            <p class="card-text mb-auto">Your film and footage is stored with secure layers of protection and is hosted on a secure platform. The film is delivered from Vimeo with an http link and embed code to be used at your discretion.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card service-item flex-md-row box-shadow h-md-250">
          <i aria-hidden="true" style="margin: 20px 0 0 0;">
            <img src="./images/icons/copyright.png" style="width: 60px; height: 50px;">
          </i>
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">Copyright</h3>
            <p class="card-text mb-auto">A copyright registration gives the advantage of the offender being responsible for all attorney fees and statutory damages which makes enforcement of intellectual rights for a film a lot easier.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr />
  <section class="kmm-testimonial" style="display: flex; flex-direction: column; align-items: center">
    <div class="testimonial-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Testimonials</h1>
    </div>
    <div id="testimonialCarousel" class="carousel slide" data-ride="carousel" style="width: 80%; padding-bottom: 20px;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-6">
              <img class="d-block w-100" src="./images/testimonials/KMMllc Testimonials AC.jpg">
            </div>
            <div class="col-md-6">
              <p>The care and attention [K Mitchell Media] bring to each project is phenomenal. They are absolutely focused on bringing out your best in a kind and fun way. The preparation they took to make sure everything turned out beautifully was amazing and the quality of the end product is completely unmatched! On top of that, they make it all so easy for you. What a relief that something I was so worried about doing turned out so far beyond my expectations. I couldn’t be happier with their work!</p>
            </div>
          </div>
        </div>
        <div class="carousel-item card">
          <div class="row">
            <div class="col-md-6">
              <img class="d-block w-100" src="./images/testimonials/KMMllc Testimonials BK.jpg">
            </div>
            <div class="col-md-6">
              <p>People want to do business with other people. Making an authentic connection with your tribe is just as critical today, possibly even more, than it was 100 years ago. Unfortunately, even in this hyper-connected world, you can’t be everywhere at once.</p>
              <p>This is where Kathryn’s skills and vision are invaluable. People are tired of “sizzle reels.” Any high school student can create one and we all know it. We’re not impressed. We want to know the people, ideas, and mission that drive your organization. The beauty of working with Kathryn is that she can pull those things out of you, your team, and your tribe - and create cohesive, compelling content that will reach your people and tell your story 24 hours a day, 7 days a week...across the entire world. </p>
            </div>
          </div>
        </div>
        <div class="carousel-item card">
          <div class="row">
            <div class="col-md-6">
              <img class="d-block w-100" src="./images/testimonials/KMMllc Testimonials BW.jpg">
            </div>
            <div class="col-md-6">
              <p>K Mitchell Media understood my message and created my video request masterfully in a quick, efficient timeframe.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item card">
          <div class="row">
            <div class="col-md-6">
              <img class="d-block w-100" src="./images/testimonials/KMMllc Testimonials JT.jpg">
            </div>
            <div class="col-md-6">
              <p>I loved the music and the flow, [as] you know it was full of outtakes. [K Mitchell Media] is an amazing storyteller. [They] made what could have been intimidating a very comfortable atmosphere, for the best possible outcome. I am blown away and I didn’t feel self conscious at all when viewing [the end product] and that is an extreme feat. Thank you so much for your expertise!</p>
            </div>
          </div>
        </div>
        <div class="carousel-item card">
          <div class="row">
            <div class="col-md-6">
              <img class="d-block w-100" src="./images/testimonials/KMMllc Testimonials NB.jpg" alt="Third slide">
            </div>
            <div class="col-md-6">
              <p>You exceeded every expectation that I had going into this project. You made content creation very easy for us and I look forward to working with you again very soon.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a href="#testimonialCarousel" class="carousel-control-next" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

  <!--Footer-->
  <footer class="footer">

      <!--Footer Links-->
      <div class="container-fluid container-footer">
          <div class="row d-flex footer-style pt-3 pl-5 pr-5">
              <div class="col-12 col-sm-6 col-md-6">
                <div class="row">
                  <h5 class="title">Virtue. Vision. Voice</h5>
                </div>
                <div class="row">
                  Give us your vision
                </div>
                <div class="row">
                  We collaborate
                </div>
                <div class="row">
                  We make it beautiful
                </div>
                <div class="row social-media mt-4 mb-3">
                  <a class="facebook" href="http://www.facebook.com/kmitchellmediallc"><i class="fa fa-facebook fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="twitter" href="http://www.twitter.com/kmitchellmedia"><i class="fa fa-twitter fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="vimeo" href="http://www.vimeo.com/kmitchellmediallc"><i class="fa fa-vimeo fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="instagram" href="http://www.instagram.com/kmitchellmedia"><i class="fa fa-instagram fa-2x mr-3" aria-hidden="true"></i></a>
                </div>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Menu</h5>
                  <p>
                      <a href="/home">Home</a><br />
                      <a href="/about">About</a><br />
                      <a href="/portfolio">Portfolio</a><br />
                      <a href="/services">Services</a><br />
                      <a href="/faq">FAQ's</a><br />
                      <a href="/contact">Contact</a>
                  </p>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Contact</h5>
                  <p>
                      Kathryn Mitchell <br />
                      P.O. Box 10355 <br />
                      Phoenix, AZ 85064 <br />
                      (520) 261-2746
                  </p>
              </div>
          </div>
      </div>

      <div class="footer-legalline">
          <div class="container-fluid text-center py-3">
              © 2018 K Mitchell Media, LLC | All Rights Reserved
          </div>
      </div>
  </footer>

</html>
