<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/71f27b38fa.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="./css/style-thanks.css">

    <title>K Mitchell Media - Message Sent</title>
  </head>

  <header>
    <div class="container-fluid container-header">

      <nav class="navbar navbar-expand-lg navbar-light my-navbar">
        <a class="navbar-brand" href="#">
          <img class="logo-item" src="./images/k3.png" href="./index.html"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/about">About</a>
            <a class="nav-item nav-link" href="/portfolio">Portfolio</a>
            <a class="nav-item nav-link" href="/services">Services and Testimonials</a>
            <a class="nav-item nav-link" href="/faq">FAQ</a>
            <a class="nav-item nav-link" href="/contact">Contact</a>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <body>
    <container>
      <div class="row thank-u-msg">
        <div class=" col-12 faq-header px-3 py-3 pt-md-5 pb-md-4 mb-5 text-center">
          <h1 class="display-4 header-title">Success!</h1>
          <p class="lead">
            Thank you for contacting K Mitchell Media.
          </p>
          <p class="lead">
            We will respond as soon as possible. <br />
            For urgent matters, please contact us at (520) 261-2746
          </p>
          <!-- <a class="btn btn-info btn-lg btn-return" role="button" href="./home">Return to Site</a> -->
        </div>
        <img class="contact-success responsive-img" src="./images/success-k-mitchell-media-contact.jpg" alt="">
      </div>
    </container>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>

  <footer class="footer">
      <div class="container-fluid container-footer">
          <div class="row d-flex footer-style pt-3 pl-5 pr-5">
              <div class="col-12 col-sm-6 col-md-6">
                <div class="row">
                  <h5 class="title">Virtue. Vision. Voice</h5>
                </div>
                <div class="row">
                  Give us your vision
                </div>
                <div class="row">
                  We collaborate
                </div>
                <div class="row">
                  We make it beautiful
                </div>
                <div class="row social-media mt-4 mb-3">
                  <a class="facebook" href="http://www.facebook.com/kmitchellmediallc"><i class="fa fa-facebook fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="twitter" href="http://www.twitter.com/kmitchellmedia"><i class="fa fa-twitter fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="vimeo" href="http://www.vimeo.com/kmitchellmediallc"><i class="fa fa-vimeo fa-2x mr-3" aria-hidden="true"></i></a>
                  <a class="instagram" href="http://www.instagram.com/kmitchellmedia"><i class="fa fa-instagram fa-2x mr-3" aria-hidden="true"></i></a>
                </div>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Menu</h5>
                  <p>
                      <a href="/home">Home</a><br />
                      <a href="/about">About</a><br />
                      <a href="/portfolio">Portfolio</a><br />
                      <a href="/services">Services</a><br />
                      <a href="/faq">FAQ's</a><br />
                      <a href="/contact">Contact</a>
                  </p>
              </div>

              <div class="col-md-3">
                  <h5 class="title">Contact</h5>
                  <p>
                      Kathryn Mitchell <br />
                      P.O. Box 10355 <br />
                      Phoenix, AZ 85064 <br />
                      (520) 261-2746
                  </p>
              </div>
          </div>
      </div>

      <div class="footer-legalline">
          <div class="container-fluid text-center py-3">
              © 2018 K Mitchell Media, LLC | All Rights Reserved
          </div>
      </div>
  </footer>

</html>
