.container-header {
  background-image: url("../images/khead-darken.jpg");
  background-size: cover;
  height: 500px;
  margin-bottom: 25px;
}

.header-title-container {
  display: flex;
  justify-content: left;
  padding-left: 30px;
}

.header-title {
  margin-top: 150px;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 30px;
}

.header-text {
  font-size: 20px;
  color: white;
}

.btn-hero-container {
  display: flex;
  justify-content: start;
  padding-left: 30px;
}

.btn-hero-item {
  background-color: #3e7686;
  border: 1px solid #26606d;
  width: 200px;
}

.send-msg-icon {
  padding-right: 10px;
}

.container-faq {
  margin-bottom: 50px;
}

.faq-header {
  margin-bottom: 50px;
}

.faq-btn-style {
  width: 100%;
  text-align: left;
  font-size: 22px;
  background-color: #ffffff;
}
.faq-btn-style:hover {
  background-color: #dddddd;
}

.section-title {
  font-size: 20px;
  padding-bottom: 100px;
}

.card {
  margin-bottom: 10px;
  padding: 0 !important;
}

.card-header {
  background-color: white;
  box-shadow: 1px 2px 0px 0px;
}

.btn {
  white-space: inherit;
}

/* FOOTER STYLING */
.card-footer-style {
  width: 100%;
  background-color: white;
}

.container-footer {
  background-color: #dddddd;
}
.footer-style {
  background-color: #dddddd;
  border-top: 1px solid #bbbbbb;
}

.facebook,
.twitter,
.vimeo,
.instagram {
  color: #eb37cb;
}

.footer-legalline {
  background-color: #cccccc;
  border-top: 2px solid #bbbbbb;
  border-bottom: 2px solid #bbbbbb;
}
