.container-header {
  background-image: url("../images/khead-darken.jpg");
  background-size: cover;
  height: 500px;
  margin-bottom: 25px;
}

.header-title-container {
  display: flex;
  justify-content: left;
  padding-left: 30px;
}

.header-title {
  margin-top: 150px;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 30px;
}

.header-text {
  font-size: 20px;
  color: white;
}

.btn-hero-container {
  display: flex;
  justify-content: start;
  padding-left: 30px;
}

.btn-hero-item {
  background-color: #3e7686;
  border: 1px solid #26606d;
  width: 200px;
}

.send-msg-icon {
  padding-right: 10px;
}

.service-item {
  border: 0 !important;
}

.svc-icon {
  color: #eb37cb;
  flex-direction: column;
  justify-content: center;
  align-self: start;
}

.btn-inquire:hover {
  background-color: #eb37cb;
  border: 1px solid #333333;
}


/* FOOTER STYLING */
.card-footer-style {
  width: 100%;
  background-color: white;
}

.container-footer {
  background-color: #dddddd;
}
.footer-style {
  background-color: #dddddd;
  border-top: 1px solid #bbbbbb;
}

.facebook,
.twitter,
.vimeo,
.instagram {
  color: #eb37cb;
}

.footer-legalline {
  background-color: #cccccc;
  border-top: 2px solid #bbbbbb;
  border-bottom: 2px solid #bbbbbb;
}
