.kathryn-image-container {
    padding: 0 !important;
}
  
.kathryn-bwImg-about {
    max-width: 100%;
    height: auto;
}

.about-katheryn-text {
    padding-right: 1rem;
    border-radius: .5rem;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: $color_social_media;
}

.kathryn-video-section {
    margin-top: 25px;
}
