// COLORS
$color_gray-1: #dddddd;
$color_gray-2: #bbbbbb;
$color_gray-3: #cccccc;
$color_gray-4: #eeeeee;

$color-white: #ffffff;

$color_hero_button_background: #3e7686;
$color_hero_button_border: #26606d;

$color_social_media: #212529;